<h1>People</h1>
<nav>
  <ul>
    <li><%= link_to 'People', people_path %></li>
    <li><%= link_to 'Planets', planets_path %></li>
    <li><%= link_to 'Starships', starships_path %></li>
  </ul>
</nav>
<%= form_tag people_path, method: :get do %>
  <%= label_tag :query, "Search People" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>
<%= form_tag people_path, method: :get do %>
  <%= label_tag :planet_id, "Select Planet" %>
  <%= select_tag :planet_id, options_from_collection_for_select(Planet.all, :id, :name, params[:planet_id]) %>
  <%= submit_tag "Filter" %>
<% end %>
<ul>
  <% @people.each do |person| %>
    <li><%= link_to person.name, person_path(person) %></li>
  <% end %>
</ul>

<%= paginate @people %>
