<h1><%= @planet ? @planet.name : "Planet Not Found" %></h1>
<p>Terrain: <%= @planet&.terrain || "N/A" %></p>
<p>Population: <%= @planet&.population || "N/A" %></p>
<h2>Inhabitants</h2>
<ul>
  <% if @planet %>
    <% @planet.people.each do |person| %>
     <li><%= link_to person.name, person_path(person) %></li>
    <% end %>
  <% else %>
    <li>No inhabitants found.</li>
  <% end %>
</ul>
<%= link_to 'Back', planets_path %>