<h1 class="text-center">Starships</h1>
<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item"><%= link_to 'About', about_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'People', people_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'Planets', planets_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'Starships', starships_path, class: 'nav-link' %></li>
  </ul>
</nav>

<div class="row justify-content-center">
  <% @starships.each do |starship| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to starship.name, starship_path(starship) %></h5>
          <p class="card-text">Model: <%= starship.model %></p>
          <p class="card-text">Crew: <%= starship.crew %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @starships, class: "pagination justify-content-center" %>